body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:active {
    color: orange;
}

.container {
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.full-image {
    width: 100%;
    height: auto;
}

#initiate-shipment-section {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    font-size: 14px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#head2{
    color: orange;
}

#para1{
    color:#87CEEB ;

}

#head5{
    color: orange;
}

#head6{
    color: green;
}

#head55{
    color: orange;
}

#head66{
    color: green;
}

