/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:active {
    color: orange;
}

/* Container styling */
.container {
    padding: 20px;
}

/* Section visibility toggling */
.section {
    display: none;
}

.section.active {
    display: block;
}

/* Image styling */
.full-image {
    width: 100%;
    height: auto;
}

/* Initiate shipment section */
#initiate-shipment-section {
    width: 80%;
    margin: 50px auto;
    background-color:#333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#initiate-shipment-section h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    color: #333;
}

input[type="text"], input[type="datetime-local"], textarea, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    background-color: #af4c68;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive design */
@media (max-width: 768px) {
    #initiate-shipment-section {
        width: 90%;
        padding: 15px;
    }

    button[type="submit"] {
        font-size: 16px;
        padding: 10px;
    }
}

/* Carousel image container */
.carousel-image-container {
    position: relative;
}

.carousel-image-container img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.text-overlay p {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Footer styles */
footer {
    font-size: 14px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.section {
    display: none;
}
.section.active {
    display: block;
}
